# Servidor CS2
SERVER_NAME="CS2 Server 5x5"
SERVER_PASSWORD=
SERVER_PORT=27015
START_MAP=de_mirage

# Steam Game Server Token
STEAM_TOKEN=

# MySQL do WeaponPaints
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=cs2user
DB_PASSWORD=troque-esta-senha
DB_NAME=cs2
